<div class="map2">
  <div id="btn-1" class="btn-table btn-batsu btn-rough-big text-center">1</div>
  <div class="row2">
    <div id="btn-2" class="btn-table btn-batsu btn-rough-sm text-center">2</div>
    <div id="btn-3" class="btn-table btn-batsu btn-rough-sm text-center">3</div>
  </div>
  <div class="row3">Outside</div>
  <div class="row2">
    <div id="btn-4" class="btn-table btn-batsu btn-rough-sm text-center">4</div>
    <div id="btn-5" class="btn-table btn-batsu btn-rough-sm text-center">5</div>
  </div>
  <div id="btn-6" class="btn-table btn-batsu btn-rough-big text-center">6</div>
</div>
<div class="map3">
  <div>
    <div id="btn-7" class="btn-table btn-batsu btn-rough-md text-center btn-left btn-top2">7</div>
    <div id="btn-8" class="btn-table btn-batsu btn-rough-huge text-center btn-center btn-top">8</div>
    <div id="btn-9" class="btn-table btn-batsu btn-rough-md text-center btn-right btn-top2">9</div>
  </div>
  <div>
    <div id="btn-10" class="btn-table btn-batsu btn-rough-md text-center btn-left btn-midtop">10</div>
    <div id="btn-11" class="btn-table btn-batsu btn-rough-md text-center btn-right btn-midtop">11</div>
    <div id="btn-12" class="btn-table btn-batsu btn-rough-md text-center btn-left btn-midbot">12</div>
    <div id="btn-14" class="btn-table btn-batsu btn-rough-md text-center btn-right btn-midbot">14</div>
    <div id="btn-18" class="btn-table btn-batsu btn-oval-huge text-center btn-midcen">18</div>
  </div>
  <div>
    <div id="btn-15" class="btn-table btn-batsu btn-rough-md text-center btn-left btn-bottom2">15</div>
    <div id="btn-16" class="btn-table btn-batsu btn-rough-huge text-center btn-center btn-bottom">16</div>
    <div id="btn-17" class="btn-table btn-batsu btn-rough-md text-center btn-right btn-bottom2">17</div>
  </div>
</div>
