<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<section class="section admin-site">
  <br><br><br>
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    <h1><%= t ".title" %></h1>
    <% flash.each do |key, value| %>
      <div class="flash-message <%= key %>">
        <%= value %>
      </div>
    <% end %>
    <div class="bloc col-xs-12">
      <div class="search-form" id="category">
        <%= render "category" %>
      </div>
      <br>
    </div>
  </div>
</section>
